//! **************************************************************************
// Written by: Map P.20131013 on Wed Jan 31 19:37:50 2018
//! **************************************************************************

SCHEMATIC START;
COMP "led<0>" LOCATE = SITE "V5" LEVEL 1;
COMP "led<1>" LOCATE = SITE "R3" LEVEL 1;
COMP "led<2>" LOCATE = SITE "T3" LEVEL 1;
COMP "clk" LOCATE = SITE "V10" LEVEL 1;
COMP "led<3>" LOCATE = SITE "T4" LEVEL 1;
COMP "in1" LOCATE = SITE "P7" LEVEL 1;
COMP "in2" LOCATE = SITE "U5" LEVEL 1;
COMP "score1" LOCATE = SITE "R5" LEVEL 1;
COMP "score2" LOCATE = SITE "T5" LEVEL 1;
COMP "rst" LOCATE = SITE "N4" LEVEL 1;
SCHEMATIC END;

